<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stego Security</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Resources/css/looks.css')}}">
</head>
<body>
    <video autoplay muted loop id="backvideo" src="{{url_for('static',filename='Resources/media/videos/landing_page.mp4')}}"></video>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="{{url_for('static',filename='Resources/media/photos/logo.png')}}" alt="">
                <h2>Stego Security</h2>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="banner2">
            <div class="instruction">
                <h1>Hide Message</h1>
                <p>To hide your message into an image, choose a photo from your device, enter your secret message, security key for the image and then click on <b>Hide Message</b> button.</p>
                <p>Save the last image, it will contain your hidden message.</p>
                <p>Remember, the more text you want to hide, the larger the image has to be. In case you choose an image that is too small to hold your message you will be informed.</p>
                
            </div>
            <div class="file_container">
                <div class="image_container">
                    <img alt="" id="blah" src="{{url_for('static',filename='Resources/media/photos/select.png')}}">
                </div>
                <form action="/encode" method="POST" class="form_container" enctype="multipart/form-data" id="encodeForm">
                    <input type="file" name="file" id="file" onchange="readURL(this);" hidden>
                    <label for="file" class="lable">Select the Image</label>
                    <textarea placeholder="Enter the Text here" name="text" id="text" cols="30" rows="6"></textarea>
                    <input type="password" name="pass" id="key" placeholder="password">
                    
                </form>
                <input type="button" name="submit" id="submit" value="Encode" onClick="submitEncode(this);">
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <p>
                Copyright : 2024,NSEC-AJSS
            </p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='Resources/js/brain.js')}}"></script>
</body>
</html>