<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stego Security</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Resources/css/looks.css')}}">
</head>
<body>
    <video autoplay muted loop id="backvideo" src="{{url_for('static',filename='Resources/media/videos/landing_page.mp4')}}"></video>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="{{url_for('static',filename='Resources/media/photos/logo.png')}}" alt="">
                <h2>Stego Security</h2>
            </div>
        </header>
    </div>
    <div class="container full">
        <div class="banner">
            <div class="info">
                <p class="para">
                    Hide your secret message with<br>The power of Steganography...
                </p>
            </div>
            <div class="navcon">
            <button onclick="window.location.href = 'encode'">Encode</button>
                <button onclick="window.location.href = 'decode'">Decode</button>
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <p>
                Copyright : 2024, NSEC-AJSS
            </p>
        </footer>
    </div>
</body>
</html>